description "Gunicorn server for [DOMAINNAME]"

start on net-device-up
stop on shutdown

respawn

setuid [USERNAME]

chdir /home/[USERNAME]/sites/[DOMAINNAME]/src

exec ../venv/bin/gunicorn \
    --bind unix:/tmp/[DOMAINNAME].socket \
    --log-file /home/[USERNAME]/sites/[DOMAINNAME]/log/gunicorn.log \
    [PROJECTNAME].wsgi:application
